.main-container {
  padding: 5%;
}

body {
  background-image: linear-gradient(to left, #71ffd2, #2060a0),linear-gradient(to left, #ff512f, #dd2476);
  max-width: 100%;
  max-height: 100%;
  background-repeat: repeat-y;
  background-size: cover;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

.container {
  max-width: 90% !important;
}

.wallet-address {
  color:white;
}

.list-items-artifacts {
  display: block;
}

.navbar-class{
  background-color: rgba(29, 31, 32, 0.932) !important;
}

.badge {
  margin-left : 5% !important;
}

.btn {
  margin-left: 5% !important;
}

.btn-success {
  background-color: #59cbb9 !important;
  color: black !important;
}

.btn-danger {
  background-color: #000 !important;
}

.badge-success {
  background-color: #59cbb9 !important;
  color: black !important;
}

.badge-danger {
  background-color: #000 !important;
}

.nav-link {
  color: rgb(255, 255, 255) !important;
  font-weight: 400;
  font-size: 150%;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  
  
}

.leaflet-container {
    height: 400px;
    width: 100%;
}

.list-group {
  width:100%;
}
.Ticket {
  background-image: image("ticket.jpg");
}